@import "Sprite/*.png";//"Comando" que importa todas as imagens .png da pasta Images e cria um sprite.

@import '../Funcionalidades/classes';
@import '../Layout/corpo';
@import '../Layout/footer';
@import '../Layout/form';
@import 'media_query';
@import '../Layout/nav';
@import '../Layout/tabela';